<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="background: darkseagreen; width: 100%; height: 100px; margin: 0" th:fragment="header">
    <h1>AntArtGenerator</h1>
    <a href="/">Strona główna</a>
    <a href="/regulamin">Regulamin</a>
    <a href="/kontakt">Kontakt</a>
</div>

<div style="background: blanchedalmond; width: 100%; height: 50px; margin: 0" th:fragment="footer">
    <h3>Stopka strony</h3>
</div>

</body>
</html>