<!DOCTYPE html>
<html lang="pl" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<h1>Strona główna</h1>
    <p>Wytwarzamy coś z niczego. Nasz generator artykułów działa w oparciu o inteligencję mrówczego tłumu.
        Wspólna świadomość 13 kopców mrówek potrafi zdziałać cuda.
        Nowoczesny interefejs z postaci specjalnie opracowanego płynu Smuga-2000, przesyła artykuł bezpośrednio do chmury.</p>
</section>
</body>
</html>


