<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<h1>Sending e-mail with Spring MVC</h1>
<form method="post" action="sendEmail.do">
    <table border="0" width="80%">
        <tr>
            <td>Do:</td>
            <td><input type="text" name="recipient" size="65"/></td>
        </tr>
        <tr>
            <td>Temat:</td>
            <td><input type="text" name="subject" size="65"/></td>
        </tr>
        <tr>
            <td>Treść:</td>
            <td><textarea cols="50" rows="10" name="message"></textarea></td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Send E-mail"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>