<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Kontakt</title>
</head>

<body>
<section layout:fragment="content">
    <h1>Wysyłanie maila:</h1>
    <form method="post">
        <table border="0" width="80%">
            <tr>
                <td>Twoja ksywka:</td>
                <td><input type="text" name="sender" size="55"/></td>
            </tr>
            <tr>
                <td>Twój e-mail:</td>
                <td><input type="mail" name="mail" size="55"/></td>
            </tr>
            <tr>
                <td>Treść:</td>
                <td><textarea cols="50" rows="10" name="message"></textarea></td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Wyślij E-mail"/>
                </td>
            </tr>
        </table>
    </form>
</section>
</body>
</html>


